


<div class="row d-flex justify-content-center mt-100">
  <div class="col-md-5">
    <div class="card">

      <div class="card-block text-center">
        <h5>Life is too short to drink bad wine!</h5>
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb">

            <li class="breadcrumb-item"><a href="#" data-abc="true">Creemos que el mundo del vino puede ser más divertido y auténtico.
              Por ello hemos creado una marca diferente.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





